@charset "UTF-8";

body {
		height: 100%;
		background-image: url("../img/downtown.jpg");
		background-size: cover;
		background-attachment: fixed;
		filter: brightness(50%);
	}

	#header{ 
		margin: 0;
		padding: 0;
		color: #c0392b;
		font-size: 50px;
		font-family: 'Montserrat', sans-serif;
		text-shadow: 1px 1px #000000;
	}

	#description { 
		margin: 0;
		padding: 0;
		margin-bottom: 45px;
		color: #96281B;
		font-size: 15px;
		font-family: 'Montserrat', sans-serif;
		text-shadow: 1px 1px #000000;
	}

	.dininghall {
		color: #FFFFFF;
		font-size: 30px;
		font-family: 'Montserrat', sans-serif;
		width: 100%;
	}

	.available
	{
		visibility: visible;
		color: #27ae60;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		display: inline-block
		margin: 0px;
	}

	.unavailable
	{
		visibility: visible;
		color: #e74c3c;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		display: inline-block
		margin: 0px;
	}

	.greencheck
	{
    	max-width: 20px;
    	height: auto;
    	clear: right;
    	display: inline-block;
	}

	.redx
	{
		max-width: 20px;
    	height: auto;
    	clear: right;
    	display: inline-block;
	}

	.updated
	{
		font-size: 10px;
		color:#FFFFFF;
	}

	.timestamp
	{
		font-size: 10px;
		color:#FFFFFF;
	} 

	ul
	{
    	list-style: none;
	}

	li
	{
		padding-bottom: 1%;
	}

	footer
	{
		color: #FFFFFF;
		font-family: 'Montserrat', sans-serif;
		-moz-align-self: -moz-flex-end;
		-webkit-align-self: -webkit-flex-end;
		-ms-align-self: -ms-flex-end;
		align-self: flex-end;
		width: 100%;
		padding: 1.5em 0 0 0;
		text-align: center;
	}

	button {
		font-family: 'Montserrat', sans-serif;
		display: inline-block;
		height: 2.0em;
		line-height: 2.0em;
		padding: 0 0.5em;
		padding-bottom: 15px;
		background-color: transparent;
		border-radius: 2px;
		border: solid 1px #c8cccf;
		color: #FFFFFF;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

   button.available {
      font-size: initial;
      border: solid 1px #27ae60;
   }
   
   button.available:hover {
      background-color: #8ae5b0;
      transition: background-color 0.25s;
   }

   button.unavailable {
      border: solid 1px #e74c3c;
      font-size: initial;
      margin-left: 1em;
   }
   
   button.unavailable:hover {
      background-color: #f8c9c4;
        transition: background-color 0.25s;
   }